<script src="https://kit.fontawesome.com/8f6b07f053.js" crossorigin="anonymous"></script>
<div class="jumbotron" style="min-height: auto; background-image: url(assets/maincoverpic.jpg); background-size: cover; background-position: center; margin: 0; background-color: #ffffff">
  <div class="container" style="padding-top: 8rem; padding-bottom: 8rem">
    <h1 class="titlefont"><span>Restaurant Quality Meals<br>At Affordable Prices <br>  <br>  </span></h1>
    <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
  </div>
</div>

<!-- How it works Section -->
<div class = "jumbotron" style = "margin: 0; padding: 25px; background-color: #F8F8F8">
<div class="container" style="height: auto">
   <h2 class = "mpfonttitle"> How It Works? <br><br></h2>
  <div  class="row pb-7 text-center">
    <div class="col-lg-3">
      <%= image_tag('Order.png', height: 80, alt: "Slice a Dish") %> <br><br>
      <h4 class = "mpfontheading"> Choose Your Meals</h4>
      <p class = "mpfontsmall"> Choose from several options.</p>
    </div>
    <div class="col-lg-3">
      <%= image_tag('buffet.png', height: 80, alt: "Slice a Dish") %> <br><br>
      <h4 class = "mpfontheading"> We Order In Bulk</h4>
      <p class = "mpfontsmall"> We order in bulk from your favorite restaurants and seperate it for you.</p>
    </div>
    <div class="col-lg-3">
      <%= image_tag('truck.png', height: 80, alt: "Slice a Dish") %> <br><br>
      <h4 class= "mpfontheading"> Deliver Right To You</h4>
      <p class = "mpfontsmall" > We bring it right to your door for free*.</p>
    </div>
    <div class="col-lg-3">
      <%= image_tag('lunch.png', height: 80, alt: "Slice a Dish") %> <br><br>
      <h4 class= "mpfontheading"> Eat And Repeat</h4>
      <p class = "mpfontsmall" > Skip a week or cancel at any time.</p><br>
    </div>
  </div>
<br>
  <div class="container">
    <div class="form-group">
      <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">GET STARTED</a></p>
    </div>
  </div>
</div>
</div>


<!-- Why sliceadish Section -->
<div class = "jumbotron" style = "margin: 0px; padding:0px; background-color: #FFFFFF">
<div class="container-fluid">
 <div class= "row">
   <div class="col-lg-6" style="background-image: url(assets/TikkaNaanRice_left.jpg); background-size: cover; background-position: center; margin: 0;"></div>
   <div class= "col-lg-3">
     <br><br><h2 class = "mpfonttitle"> Why Slice-A-Dish? <br><br></h2>
    <p class="mpfontsmall"> <i class="fas fa-check" style="color:#05ed43"></i> Get restaurant quality meals at a low cost.</p><br>
    <br>
    <p class="mpfontsmall"> <i class="fas fa-check" style="color:#05ed43"></i> Variety of choices from your favorite restaurants.</p><br>
    <br>
    <p class="mpfontsmall"><i class="fas fa-check" style="color:#05ed43"></i> No need to cook or drive - get your meals right to your door every week.</p><br>
    <br>
    <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
    <br><br><br><br>
   </div>
   <div class="col-lg-3" style="background-image: url(assets/TikkaNaanRice_right.jpg); background-size: cover; background-position: center; margin: 0 "></div>
 </div>
</div>
</div>
