<div class="jumbotron" style="min-height: 460px; background-image: url(assets/healthy.jpg);">
  <div class="container" style="padding-top: 8rem; padding-bottom: 8rem;">
    <h1 class="text-white text-center">Restaurant quality meals at affordable prices!</h1>
    <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
  </div>
</div>
<div class="container">
  <div class="row pb-5 text-center">
    <div class="col-lg-4">
      <%= image_tag('1.png', height: 180, alt: "Slice a Dish") %>
      <h2>Cheap Prices</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('2.png', height: 180, alt: "Slice a Dish") %>
      <h2>High Quality Food</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('3.png', height: 180, alt: "Slice a Dish") %>
      <h2>Incredible Meals</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<div class="header" style="min-height: 160px; margin-bottom: -20px; background-color: #0F346C;">
  <div class="container" style="padding-top: 8rem; padding-bottom: 8rem;">
    <h1 class="text-white text-center">SignUp Tomorrow!</h1>
      <div class="container">
        <div class="form-group">
          <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
        </div>
      </div>
  </div>
</div>
