<header style="margin-bottom: 5rem;">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: #fff;">
    <div class="container">
      <div class="topbar-brand">
        <%= link_to root_path do %>
          <%= image_tag('logo.png', height: 60, class: 'text-center', alt: "Slice a Dish") %>
        <% end %>
      </div>
      <div class=" d-none d-sm-block">
        <ul class="mx-auto nav nav-process nav-process-in-circles" style="padding-top: 0.3rem; padding-bottom: 0rem; margin-top: -1.1rem;">
          <li class="nav-item processing">
            <a class="nav-link fs-16">1</a>
            <span class="fs-14 fw-300">Welcome</span>
          </li>
          <li class="nav-item processing">
            <a class="nav-link fs-16">2</a>
            <span class="fs-14 fw-300">Pick Plan</span>
          </li>
          <li class="nav-item complete">
            <a class="nav-link fs-16">3</a>
            <span class="fs-14 fw-300">Pick Meals</span>
          </li>
          <li class="nav-item processing">
            <a class="nav-link fs-16">3</a>
            <span class="fs-14 fw-300">Checkout</span>
          </li>
        </ul>
      </div>
      <div class=" d-sm-none">
        <ul class="mx-auto nav nav-process nav-process-in-circles" style="padding-top: 0.3rem; padding-bottom: 0rem; margin-top: -1.1rem;">
          <li class="nav-item processing">
            <a class="nav-link fs-16">1</a>
          </li>
          <li class="nav-item complete">
            <a class="nav-link fs-16">2</a>
          </li>
          <li class="nav-item processing">
            <a class="nav-link fs-16">3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
