<!-- Header -->
 <div class="header" style="background-image: url(assets/healthy.jpg); background-size: 100%;">
   <div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">
     <h1 class="text-white text-center">Pricing Plans</h1>
   </div>
 </div>
<!-- Pick Your Plan -->
 <div class="plans-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
   <h1 class="display-4">Pick Your Plan</h1>
   <p class="lead">Pick your perfect plan, or whatever plan you want.</p>
 </div>
<!-- Plans -->
 <div class="container">
   <div class="row">
     <div class="mx-auto col-12 col-md-8 col-lg-6 col-xl-6">
       <div class="card mb-4 box-shadow" style="height: auto;">
         <div class="card-header">
           <h4 class="my-0 text-center font-weight-normal">4 meal plan</h4>
         </div>
         <%= image_tag('healthy.jpeg', height: 320, class: "card-img-top" ) %>
         <div class="card-body mx-auto">
           <h1 class="card-title pricing-card-title">$59.99 <small class="text-muted">/ week</small></h1>
           <ul class="list-unstyled mt-3 mb-4">
             <li class="text-center">3 meals per week</li>
             <li class="text-center">Just $9.99 per person</li>
             <li class="text-center">No Commitment</li>
             <li class="text-center">Free Shipping</li>
           </ul>
           <%# TODO FIX THIS %>
           <%= link_to 'Choose', choose_meals_path(:plan => 'four'), class: "btn btn-secondary btn-info btn-block" %> <br/>
         </div>
       </div>
   </div>
     <div class="mx-auto col-12 col-md-8 col-lg-6 col-xl-6">
       <div class="card mb-4 box-shadow" style="height: auto;ß">
         <div class="card-header">
           <h4 class="my-0 text-center font-weight-normal">9 meal plan</h4>
         </div>
         <%= image_tag('healthy.jpeg', height: 320, class: "card-img-top" ) %>
         <div class="card-body mx-auto">
           <h1 class="card-title pricing-card-title">$79.99 <small class="text-muted">/ week</small></h1>
           <ul class="list-unstyled mt-3 mb-4">
             <li class="text-center">4 meals per week</li>
             <li class="text-center">Just $9.99 per person</li>
             <li class="text-center">No Commitment</li>
             <li class="text-center">Free Shipping</li>
           </ul>
           <%= link_to 'Choose', choose_meals_path(:plan => 'nine'), class: "btn btn-secondary btn-info btn-block" %> <br/>
         </div>
       </div>
     </div>
   </div>
 </div>
